[alias]
        co = "checkout"
        ci = "commit"
        st = "status"
        br = "branch"
        hist = "log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short"
        type = "cat-file -t"
        dump = "cat-file -p"
        log2 = log --pretty=format:'%Cblue%h%Cred%d%Creset %ad %Cgreen%an%Creset %s'
        log2g = log --pretty=format:'%Cblue%h%Cred%d%Creset %ad %Cgreen%an%Creset %s' --graph
[color]
        ui = true
[user]
        email = b-long@users.noreply.github.com 
        name = b-long
[core]
        editor = vim
[merge]
	tool = kdiff3
