[alias]
        co = "checkout"
        ci = "commit"
        st = "status"
        br = "branch"
        hist = "log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short"
        type = "cat-file -t"
        dump = "cat-file -p"
        log2 = log --pretty=format:'%Cblue%h%Cred%d%Creset %ad %Cgreen%an%Creset %s'
        log2g = log --pretty=format:'%Cblue%h%Cred%d%Creset %ad %Cgreen%an%Creset %s' --graph
	# The 'cleanup' deletes merged branches.  Source: https://stackoverflow.com/a/21857717/320399
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
        # The 'rbr' function performs a rebase against the "develop" branch
	# Thanks to Alex Sexton for the info: https://twitter.com/SlexAxton/status/1308871555666059267
	rbd = "pull --rebase origin develop"
	rbm = "pull --rebase origin master"
	# The 'addnows' adds all non-whitespace changes.  Source: https://stackoverflow.com/a/39489219
	addnows = !git diff -U0 -w --no-color -- \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero "#"
	# Additionally, a quick tip to prevent pushing to some remote, you can run the following command:
	#	git remote set-url --push upstream no_push
	# Source: https://stackoverflow.com/questions/10260311/git-how-to-disable-push#comment105991272_10260389
[color]
        ui = true
[user]
        email = b-long@users.noreply.github.com 
        name = b-long
[core]
        editor = vim
[merge]
	tool = kdiff3
[pull]
	ff = only	
[user]
	email = (none)
	name = b-long
[init]
	defaultBranch = main
# Source: https://twitter.com/JI/status/1546948817462800384        
[push]
	autoSetupRemote = true
